.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
  padding: 2.3rem;
  width: 60%;
}

.counter-label {
  font-size: 3em;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

button {
  background-color: rgb(69, 160, 73);
  border: none;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  font-size: 1em;
  margin: 0.15rem;
  padding: 1rem 1.9rem;
  cursor: pointer;
  max-width: 12.5rem;
  width: 100%;
}

button:hover {
  background-color: rgb(44, 121, 48);
}

.reset {
  background-color: rgb(207, 19, 50);
}

.reset:hover {
  background-color: rgb(151, 14, 37);
}
